<nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
  <div class="container">
    <!-- Brand: Home icon + name -->
    <a class="navbar-brand" href="#home">
      <i class="fas fa-home"></i> Rishi Gurnani
    </a>
    <!-- Hamburger button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible navbar items -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#publications">Publications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://rishigurnani.github.io/blog/" target="_blank">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#more-from-rishi">More</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#news">
            <i class="fas fa-newspaper"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">
            <i class="fas fa-phone"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
